@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --breakpoint-3xl: 1920px;
    --bg-color: #ffffff;
}

.dark {
    --bg-color: #1c1917;
}

html,
body {
    @apply h-full m-0 p-0;
    background-color: var(--bg-color);
}

#root {
    @apply flex flex-col min-h-full;
}

.content {
    @apply grow;
}
